{% extends 'base.html' %}

{% block content %}

<br>


<div class="container" style=" width:800px; height:800px;" id="box">
   
        {% for list in guestlist %}
        <div id={{list.name}} name="box" onMouseOver="change( '{{list.num}}' )" style="position: absolute;">
            {{list.name}}
            {{list.num}}
            x값: <span name="x"></span> y값: <span name="y"></span>
        </div>
        {% endfor %}

</div>



<div class="container">
    <form action="{% url 'makebook' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <span>이름</span>
        <input type="text" name="name">
        <input class="btn btn-dark" type="submit" value="출석체크하기">
    </form>

</div>


{% endblock %}
